<?php

$mysql_host	= "localhost";
$mysql_user	= "[CHANGEME]";
$mysql_pass	= "[CHANGEME]";
$mysql_db	= "codegolf";

$admin_user = "[CHANGEME]";
$admin_pass = "[CHANGEME]";

$temp_dir	= "/tmp/";
$runner		= "/usr/local/bin/runner";

$recaptcha_sitekey = "[CHANGEME]";
$recaptcha_secret = "[CHANGEME]";

$valid_pages = array(
	"leaderboard",
	"scores",
	"register",
	"challenge",
	"script",
);

$allow_debug = false;

$num_tests = 10;

//die("Down for maintenance. Be back soon! :)\n");

?>